[class^="parallax-"],
[class*=" parallax-"] {
    z-index: 1000;
}

.parallax-156 {
    position: fixed;
    top: 25vh;
    left: 100vw;
}

.parallax-twitch-ship {
    position: fixed;
    top: 5em;
    left: 100vw;
}
