[class^="parallax-"],
[class*=" parallax-"] {
    z-index: 1000;
}

.parallax-156 {
    position: fixed;
    top: 5em;
    right: 3em;
    /*
	 * Use the same CSS variable as specified in our instance.
	 */
    opacity: var(--opacity);
    /*
	 * The will-change CSS property provides a way for authors to hint browsers about the kind of changes
	 * to be expected on an element, so that the browser can setup appropriate optimizations ahead of time
	 * before the element is actually changed.
	 */
    will-change: opacity;
}