@import 'variables';
@import 'slides';
@import 'buttons';
@import 'menu';
@import 'socials';
@import 'parallax';
@import 'base';

#header {
    height: 120px;
}

.banner-area {
    margin-top: 120px;

    .fullscreen {
        height: 500px !important
    }
}

.home-end-area {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(4, 9, 30, 1) 100%);
}