.nms-capt .splide__pagination__page.is-active {
  background-color: #FF0000;
}

.nms-capt .no-arrows .splide__arrows {
  display: none;
}

.banner-left .primary-btn,
.home-about-right .primary-btn,
.facts-area,
.thumb .overlay-bg,
.price-area .single-price:hover,
.brands-area,
.about-banner,
.sb_bar {
  background: -moz-linear-gradient(0deg, #AA0000 0%, #FF0000 100%);
  background: -webkit-linear-gradient(0deg, #AA0000 0%, #FF0000 100%);
  background: -ms-linear-gradient(0deg, #AA0000 0%, #FF0000 100%);
}

.single-services:hover .lnr {
  background: -moz-linear-gradient(0deg, #AA0000 0%, #FF0000 100%);
  background: -webkit-linear-gradient(0deg, #AA0000 0%, #FF0000 100%);
  background: -ms-linear-gradient(0deg, #AA0000 0%, #FF0000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.primary-btn {
  background: #FF0000;
  line-height: 42px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  position: relative;
}

.primary-btn:focus {
  outline: none;
}

.primary-btn span {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  right: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.primary-btn:hover {
  color: #fff;
}

.primary-btn:hover span {
  color: #fff;
  right: 20px;
}

.primary-btn.white {
  border: 1px solid #fff;
  color: #fff;
}

.primary-btn.white span {
  color: #fff;
}

.primary-btn.white:hover {
  background: #fff;
  color: #FF0000;
}

.primary-btn.white:hover span {
  color: #FF0000;
}

.banner-left .primary-btn:hover {
  box-shadow: 0 20px 20px 0 rgba(255, 144, 132, 0.3);
}

.home-about-right .primary-btn:hover {
  box-shadow: 0 20px 20px 0 rgba(255, 144, 132, 0.3);
}

.portfolio-area .primary-btn {
  color: #fff;
  background-color: #FF0000;
  margin-left: auto;
  margin-right: auto;
}

.blog-home-banner .primary-btn {
  border-radius: 0;
  background: #fff;
  color: #222;
  font-weight: 600;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.blog-home-banner .primary-btn:hover {
  background: transparent;
  border-color: #fff;
  color: #fff;
}

.nav-menu li:hover > a,
.menu-active,
.parent-active > .sf-with-ul {
  color: #FF0000 !important;
}

.menuBtn {
  height: 50px;
  width: 50px;
  position: absolute;
  right: 2em;
  top: 1em;
  z-index: 101;
}
.menuBtn > span {
  background-color: #FF0000;
  border-radius: 1px;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -1px 0 0 -25px;
  transition: height 100ms;
}
.menuBtn > span:after, .menuBtn > span:before {
  content: "";
  background-color: #FF0000;
  border-radius: 1px;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  transition: all 200ms;
}
.menuBtn > span:after {
  top: -12.5px;
}
.menuBtn > span:before {
  bottom: -12.5px;
}
.menuBtn.act > span {
  height: 0;
}
.menuBtn.act > span:after, .menuBtn.act > span:before {
  top: 1px;
}
.menuBtn.act > span:after {
  transform: rotate(45deg);
}
.menuBtn.act > span:before {
  transform: rotate(-45deg);
}

/* main menu block */
@media screen and (max-width: 980px) {
  #nav-menu-container {
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: scale(0);
  }
  #nav-menu-container.act {
    opacity: 1;
    transform: scale(1);
  }
  #nav-menu-container.act ul li {
    opacity: 1;
    transform: translateX(0);
  }
  #nav-menu-container li {
    padding: 1em 0;
    transition: all 400ms 510ms;
    opacity: 0;
    display: block;
    float: unset;
    font-size: 2rem;
  }
}

.socials .social {
  background-color: #770000;
  border-radius: 100%;
  padding: 0.5em;
  margin: 0.25em;
  font-size: 2em;
}
.socials .social:hover {
  padding: 0.65em;
  margin: 0.1em;
}

.footer-social .social:before,
.socials .social:before {
  color: white !important;
}

.footer-social {
  flex-direction: row-reverse;
  margin-right: -1.5em;
}
.footer-social .social {
  font-size: 2em;
  margin: 0.5em;
}

[class^=parallax-],
[class*=" parallax-"] {
  z-index: 1000;
}

.parallax-156 {
  position: fixed;
  top: 5em;
  right: 3em;
  /*
  * Use the same CSS variable as specified in our instance.
  */
  opacity: var(--opacity);
  /*
  * The will-change CSS property provides a way for authors to hint browsers about the kind of changes
  * to be expected on an element, so that the browser can setup appropriate optimizations ahead of time
  * before the element is actually changed.
  */
  will-change: opacity;
}

img,
br,
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

@media screen and (min-width: 980px) {
  .hidden-in-desktop {
    display: none;
  }
}

@media screen and (max-width: 980px) {
  .hidden-in-mobile {
    display: none;
  }
}

::selection {
  background: #570000;
  color: white;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #570000;
  color: white;
  /* Gecko Browsers */
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: #FF0000;
}
@media screen and (max-width: 800px) {
  *::-webkit-scrollbar {
    width: 5px;
  }
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: lightgrey;
  margin-top: -3px;
  margin-bottom: -3px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #AA0000;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
}

#header {
  height: 120px;
}

.banner-area {
  margin-top: 120px;
}
@media screen and (min-width: 980px) {
  .banner-area .fullscreen {
    height: 500px !important;
  }
}

@media screen and (max-width: 980px) {
  #header {
    height: 80px;
  }

  .banner-area {
    margin-top: 80px;
  }

  #logo img {
    max-height: 50px;
  }

  .banner-area,
.home-mockup-area,
.home-cards-area {
    text-align: center;
  }

  #banner-slideshow-container {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .home-cards-area,
.home-end-area {
    padding-top: 60px !important;
  }
}
.home-end-area {
  background: white;
  background: linear-gradient(180deg, white 0%, #04091e 100%);
  margin-bottom: -2px;
}

/*# sourceMappingURL=main.css.map */
